<!-- FOOTER -->
<footer class="ui inverted vertical footer segment footer-color" id="footer">
  <div class="ui center aligned container">
    <div class="ui stackable inverted divided grid pad-footer">
      <div class="four wide column">
          <img class="ui centered tiny image" src="assets/img/logo-color.png">
      </div>
      <div class="four wide column">
        <a routerLink="/nosotros" class="titulos-footer"><h3><i class="address card outline icon icon-color"></i>
          Nosotros</h3></a>
      </div>
      <div class="four wide column">
        <a routerLink="/" class="titulos-footer"><h3><i class="address book outline icon icon-color"></i> Escuelas</h3>
        </a>
      </div>
      <div class="four wide column">
        <a routerLink="/" class="titulos-footer"><h3><i class="arrow up icon icon-color"></i> Volver arriba</h3></a>
      </div>
    </div>
    <div class="ui inverted section divider"></div>
    <div class="ui stackable inverted divided grid pad-footer-b">
      <div class="left aligned four wide column">
        <h4 class="header">Descripción</h4>
        <p>Aquí irá una breve descripcion de nuestra empresa, en donde se describirá sobre que es</p>
      </div>
      <div class="left aligned four wide column">
        <h4 class="header">Servicios</h4>
        <p>Breve descripcion de los servicios que ofrecemos como pagina</p>
        <div class="ui list">
          <div class="item"><a class="a-blanco" routerLink="/suscripciones">Información general <i
            class="chevron right icon"></i></a></div>
          <div class="item"><a class="a-blanco" routerLink="/suscripciones">Suscripciones <i
            class="chevron right icon"></i></a></div>
        </div>
      </div>
      <div class="left aligned four wide column">
        <h4 class="header">Contactenos</h4>
        <div class="ui list">
          <div class="item">Santiago, Chile</div>
          <div class="item">Dirección sede central</div>
          <div class="item"></div>
          <div class="item">Tel: 2 2000 0000</div>
          <div class="item">Cel: 9 9000 0000</div>
          <div class="item"></div>
          <div class="item"><a class="a-blanco" href="#contactenos">Llenar formulario de contacto <i
            class="chevron right icon"></i></a></div>
        </div>
      </div>
      <div class="left aligned four wide column">
        <h4 class="header">Redes Sociales</h4>
        <div class="ui list">
          <div class="item"><a class="a-blanco" routerLink="/"><i class="facebook icon"></i> Facebook</a></div>
          <div class="item"><a class="a-blanco" routerLink="/"><i class="twitter square icon"></i> Twitter</a></div>
          <div class="item"><a class="a-blanco" routerLink="/"><i class="instagram icon"></i> Instagram</a></div>
        </div>
      </div>
    </div>
  </div>
</footer>
<div class="ui inverted vertical footer segment div-color">
  <div class="ui center aligned container">
    <p class="color">Escuelas de Chile - All Rights Reserved</p>
  </div>
</div>

<!-- END FOOTER -->
