.pad-footer{
  padding-top: 20px !important;
}

a:hover, .icon-color:hover{
  color: rgba(209, 62, 49, 1);
  

}

.titulos-footer{
  color: rgba(255, 255, 255, 1);
}

.a-blanco{
  color: rgb(192, 46, 33);
}

.a-blanco:hover{
  color: rgb(226, 59, 44);
}

.pad-footer-b{
  padding-bottom: 20px !important;
}

.div-color{
  background-color: #1A1A1A !important;
}

.footer-color{
  background-color: #2A2A2A !important;
}

.color{
  color: grey;
}

h3{
  text-transform: uppercase !important;
  letter-spacing: 1.5px !important;
}

h4{
  text-transform: uppercase !important;
  letter-spacing: 1.5px !important;
}