<app-header></app-header>
<div class="ui container" id="contactenos">
  <div class="ui segments">
    <div class="ui segment">
      <h2 class="ui center aligned header">Contáctenos</h2>
      <form class="ui form">
        <h4 class="ui dividing header">Información personal</h4>
        <div class="field">
          <label>Nombre y Apellido</label>
          <div class="two fields">
            <div class="field">
              <input type="text" name="nombre" placeholder="Nombres">
            </div>
            <div class="field">
              <input type="text" name="apellido" placeholder="Apellidos">
            </div>
          </div>
          <div class="two fields">
            <div class="field">
              <label>E-mail</label>
              <input type="text" name="email" placeholder="ej: escuela@gmail.com">
            </div>
            <div class="field">
              <label>Telefono</label>
              <input type="text" name="telefono" placeholder="ej: 998765432">
            </div>
          </div>
          <h4 class="ui dividing header">Motivo del contacto</h4>
          <div class="field">
            <label>Motivo</label>
            <textarea placeholder="Describa el motivo del contacto aquí"></textarea>
          </div>
        </div>
        <input type="submit" class="ui fluid btn-escuela button"/>
      </form>
    </div>
  </div>
</div>
