
<div class="pusher">
  <div class="ui vertical sc-imagen center aligned segment">
    <app-navbar></app-navbar>

  </div>
</div>
<br>
<h2 class="ui center aligned header">Elige tu plan de suscripción</h2>

<div class="ui three column doubling stackable grid container">

    <div class="column">
      <div class="ui darkblue raised segment">
        <div class="ui red ribbon label">3 MESES GRATIS</div>
        <div class="ui list">
          <div class="item"><h3 class="ui header">Plan básico</h3></div>
          <div class="item"><h3 class="ui header">$ 10.000</h3></div>
          <div class="item"><p>Mensuales</p></div>
        </div>
        <sui-accordion>
            <sui-accordion-panel>
                <div class="center aligned ui small red header" title><i class="dropdown icon"></i>Ver Detalle</div>
                <div content>
                  <div class="item "><i class="icon x"></i><label class="ui tiny header"> Ejemplo 1</label></div>
                  <div class="item"><i class="icon check"></i><label class="ui tiny header"> Ejemplo 2</label></div>
                  <div class="item"><i class="icon check"></i><label class="ui tiny header"> Ejemplo 3</label></div>
                </div>
            </sui-accordion-panel>
        </sui-accordion>
      </div>
    </div>
   
    <div class="column">
      <div class="ui darkblue raised segment">
        <div class="ui red ribbon label">3 MESES GRATIS</div>
        <div class="ui list">
          <div class="item"><h3 class="ui header">Plan medio</h3></div>
          <div class="item"><h3 class="ui header">$ 15.000</h3></div>
          <div class="item"><p>Mensuales</p></div>
        </div>
        <sui-accordion>
            <sui-accordion-panel>
                <div class="center aligned ui small red header" title><i class="dropdown icon"></i>Ver Detalle</div>
                <div content>
                  <div class="item"><i class="icon x"></i><label class="ui tiny header"> Ejemplo 1</label></div>
                  <div class="item"><i class="icon x"></i><label class="ui tiny header"> Ejemplo 2</label></div>
                  <div class="item"><i class="icon check"></i><label class="ui tiny header"> Ejemplo 3</label></div> 
                </div>
            </sui-accordion-panel>
        </sui-accordion>
      </div>
    </div>


    <div class="column">
      <div class="ui darkblue raised segment">
        <div class="ui red ribbon label">3 MESES GRATIS</div>
        <div class="ui list">
          <div class="item"><h3 class="ui header">Plan total</h3></div>
          <div class="item"><h3 class="ui header">$ 20.000</h3></div>
          <div class="item"><p>Mensuales</p></div>
        </div>
        <sui-accordion>
            <sui-accordion-panel>
                <div class="center aligned ui small red header" title><i class="dropdown icon"></i>Ver Detalle</div>
                <div content>
                  <div class="item"><i class="icon x"></i><label class="ui tiny header"> Ejemplo 1</label></div>
                  <div class="item"><i class="icon x"></i><label class="ui tiny header"> Ejemplo 2</label></div>
                  <div class="item"><i class="icon x"></i><label class="ui tiny header"> Ejemplo 3</label></div>
                </div>
            </sui-accordion-panel>
        </sui-accordion>
      </div>
    </div>

</div>
<br>



  